<!--  md-theme="dark" -->

<h2 style='font-weight: 300'>Consulta</h2>

<md-content class="md-padding md-whiteframe-z1">

    <div>

        <md-input-container flex>
            <md-button ng-click='vm.criar()' class="md-raised md-warn">Criar</md-button>
        </md-input-container>

        <form ng-submit='vm.buscar()' style='float: right'>

            <md-input-container flex='70'>

                <label> Número da Carteira do SUS </label>

                <input type='text' size='50' ng-model='vm.numero_sus' required>

            </md-input-container>

            <md-input-container flex>
                <md-button type="submit" style='margin-top: -13px' class="md-raised md-primary">Buscar</md-button>
            </md-input-container>

        </form>

        <div class="table-responsive-vertical " ng-show='vm.consultas.length'>

            <table id="table" class="" >
                <thead>
                    <tr> 
                        <th align='left'>Data</th>
                        <th align='left'>Local</th>
                        <th align='left'>Especialidade</th> 
                        <th width='250px'></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.consultas track by $index">
                        <td data-title="data">{{vm.parseDate(item.data, "DD/MM/YYYY")}} ás {{vm.parseDate(item.data, "HH:mm")}}</td>
                        <td data-title="id">{{item.unidade_saude}}</td>
                        <td data-title="id">{{item.tipo_medico}}</td>
                        <td>
                            <md-button class="md-raised md-primary" ng-click='vm.verUnidade(item)'>ver endereço</md-button>
                            <md-button class="md-raised md-warn" ng-click='vm.editar(item.id)' ng-disabled="!!item.concluido">editar</md-button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</md-content>